@model Models.Game


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.GameName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GameName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MinimumNumberOfPlayers)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MinimumNumberOfPlayers)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MaximumNumberOfPlayers)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MaximumNumberOfPlayers)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RecommendedAge)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RecommendedAge)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                @Html.ActionLink("Back to List", "")
            </div>
        }
    </div>
</body>
</html>
